.Projects {
  background: #ffffff;
  padding: 2rem 0;
  width: 100%;
}

.project-card {
  background: #fff;
  border-radius: 10px;
  border: 2px solid #aed7ef; /* Light blue outline */
  margin: 0 1rem;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.project-title {
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 10px;
}

.project-date {
  font-weight: 400;
  color: #aed7ef;
  margin-bottom: 15px;
}

.project-description {
  font-weight: 400;
  color: #ffffff;
}

.project-description li {
  margin-bottom: 10px;
}

.shadow-sm {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}




